{
  "extends": [
    "airbnb",
    "eslint:recommended",
    "next/core-web-vitals",
    "prettier"
  ],
  "rules": {
    "react/jsx-filename-extension": [
      "error",
      { "extensions": [".js", ".jsx", "ts", "tsx"] }
    ],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never",
        "mjs": "never"
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      { "devDependencies": ["panda.config.ts"] }
    ]
  }
}
